---
import Briefcase from "@/components/icons/Briefcase.astro"

interface Props {
  title: string
  company: string
  description: string | string[];
  link?: string
  date: string
}

const { title, company, description, link, date } = Astro.props
---


<article class="flex intersect-once intersect-quarter">
    <!-- Barra lateral con icono -->
    <div class="flex flex-col items-center mr-4 rtl:ml-4">
        <div class="flex items-center justify-center">
            <span class="flex items-center justify-center rounded-full h-10 w-10 border-2 border-primary dark:border-blue-700 p-2 text-primary" aria-hidden="true">
                <Briefcase />
            </span>
        </div>
        <span class="bg-black/10 dark:bg-slate-400/50 h-full w-px"></span>
    </div>
    <!-- Contenido de la experiencia -->
        <div class="pt-1 pb-8">
        <header>
            <h3 class="font-bold text-xl leading-tight">{title}</h3>
            <div class="font-normal text-sm mt-1">{company}</div>
            <time class="block text-sm text-muted mt-1" aria-label={`Fecha: ${date}`}>{date}</time>
        </header>

        {Array.isArray(description) ? (
            <details class="mt-2 group [&_summary]:cursor-pointer dark:[&_strong]:text-yellow-200 [&_strong]:text-yellow-500 [&_strong]:font-semibold">
                <summary class="text-muted list-none">
                    <ul class="list-outside space-y-1 list-disc">
                        {description.slice(0, 3).map(item => <li set:html={item}></li>)}
                    </ul>

                    {description.length > 3 && (
                        <span class="mt-2 inline-flex items-center gap-1 text-sm text-blue-500">
                        Ver más
                        <span class="transition-transform group-open:rotate-90">{'>'}</span>
                        </span>
                    )}

                </summary>

                {description.length > 3 && (
                    <ul class="mt-2 text-muted list inside space-y-1 list-disc">
                        {description.slice(3).map((item) => <li set:html={item}>{item}</li>)}
                    </ul>
                )}
                
            </details>
            ) : (
                <details class="mt-2 dark:[&_strong]:text-yellow-200 [&_strong]:text-yellow-500 [&_strong]:font-semibold">
                    <summary class="text-muted" set:html={description}></summary>
                    <p class="mt-2 text-muted" set:html={description}></p>
                </details>
            )}

        </div>
</article>