---
import GitHub from "./icons/GitHub.astro"
import Python from "./icons/Python.astro"
import PowerBi from "./icons/PowerBi.astro"
import Tableau from "./icons/Tableau.astro"
import Pandas from "./icons/Pandas.astro"
import Link from "./icons/Link.astro"
import Blog from "./icons/BlogPost.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  PANDAS: {
    name: "Pandas",
    class: "bg-white text-black",
    icon: Pandas,
  },
  PYTHON: {
    name: "Python",
    class: "bg-white text-black",
    icon: Python,
  },
  POWERBI: {
    name: "PowerBi",
    class: "bg-white text-black",
    icon: PowerBi,
  },
  TABLEAU: {
    name: "Tableau",
    class: "bg-white text-black",
    icon: Tableau,
  }
}
const PROJECTS = [
  /* {
    title: "Sales Analytics",
    description:
      "Cuadro de mando interactivo en PowerBi con información de clientes y hábitos de consumo. Con segmentación mediante análisis de RFM y k-means.",
    github: "https://github.com/multivacs/sales-analytics",
    image: "/projects/sales-analytics.webp",
    post: "https://blog.multivacs.com",
    tags: [TAGS.PANDAS, TAGS.PYTHON, TAGS.POWERBI],
  }, */
  {
    title: "Employee Turnover Risk",
    description:
      "Proyecto independiente para identificar el riesgo de un empleado de abandonar una empresa usando árboles de decisión.",
    link: "https://public.tableau.com/app/profile/mario.calpena/viz/DashboardRiesgoFuga/Dashboard1",
    post: "https://blog.multivacs.com/posts/riesgo-fuga-empleados/",
    image: "/projects/turnover.webp",
    tags: [TAGS.PANDAS, TAGS.PYTHON, TAGS.TABLEAU],
  },
  {
    title: "YTDSales - A sales dashboard and CRM",
    description:
      "Plataforma desarrollada en FileMaker desde cero como herramienta de análisis para managers y el equipo comercial de EMEA. Responsable de la extracción e integridad de los datos desde el ERP, visualizaciones y desarrollo fullstack.",
    image: "/projects/ytdsales.webp",
    tags: [],
  },
  {
    title: "ADHD Prediction",
    description:
      "Proyecto de final de carrera donde tratamos de predecir la presencia de TDAH en niños usando datos tabulares y redes neuronales.",
    image: "/projects/tdah.webp",
    link: "https://zenodo.org/records/15185925",
    post: "https://blog.multivacs.com/posts/prediccion-tdah-redes/",
    github: "https://github.com/multivacs/TFG2023",
    tags: [TAGS.PANDAS, TAGS.PYTHON],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, post }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Screenshot del proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
          {post && (
            <LinkButton href={post}>
              <Blog class="size-4" />
              Post
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



